

nav {
  
    display: flex;
    justify-content: space-around;
    background: #88afd1;
    position: fixed;
    top:0;
    width:100%
}
nav a {
    text-decoration:none;
    color: white;
    font-size: 1.5rem;
    
    
}
body {
    margin: 2.5%;
    background: #ece6e6;
    font-size: 1.2rem

}
img {
    width:300px;
    height: 300px
}
#products ,#services,#contact{
    margin :2%
}

.products-text {
    line-height: 0.5rem;
}
#products img {
    width:200px;
    height: 200px
}


#about {display: flex;
margin: 0 2.5%}

.about-text {
    width: 40%;
    padding: 2% 5%;
}
#about img {
    width: 15vw;
    height: 30vh;
    padding: 2%
}

.rights {
    text-align:center
}
section {
    border: 1px solid #e5ebe3;
    padding: 1%;
}

